// <=========================================================================================================> //
// --- Миксины --- //
// <=========================================================================================================> //

@import "mixins";

// <=========================================================================================================> //
// --- Шрифты --- //
// <=========================================================================================================> //

@import "fonts";

// <=========================================================================================================> //
// --- Заготовки --- //
// <=========================================================================================================> //

$maxWidth: px;
$maxWidthContainer: 1312;

$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

$fontFamily: "";
$fontSize: 18px;

$mainColor: #f8f3ff;
$darkColor: #303030;

@import "ui";

body {
    font-family: $fontFamily, serif;
    color: #000;
}

// <=========================================================================================================> //
// --- Обнуление --- //
// <=========================================================================================================> //

@import "nullstyle";

// <=========================================================================================================> //
// --- Header --- //
// <=========================================================================================================> //

@import "header.scss";

// <=========================================================================================================> //
// --- Основной блок --- //
// <=========================================================================================================> //
